/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: /*var(--main-font)*/'Inter', sans-serif;
  font-size: 18px;
  font-weight: var(--main-font-reg);
  background-color: #000;
  background-image: 
  linear-gradient(to right, transparent 50%, #d3d3d3 50%),
  linear-gradient(to bottom, transparent 50%, #d3d3d3 50%),
  linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  background-size: 2px 2px, 2px 2px, cover;
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-font), sans-serif;
  }
} 

.header {
  width: clamp(371px, 48.6%, 700px);
  margin: 102px auto 102px;
  background-color: #fff;
  height: 364px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.accent {
  font-family: var(--second-font), monospace;
}

.subtitle {
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
}

@media (width<=375px) {
  .header {
    width: 100%;
    height: 327px;
    margin-bottom: 98px;
  }

  .subtitle {
    font-size: 14px;
  }
}

main {
  display: flex;
  gap: 54px;
  flex-direction: column;
}

.section {
  width: clamp(371px, 60%, 700px);
  margin: auto;
  background-color: #fff;
  border: 2px solid #000;
}

.card-title {
  padding: 5px 10px;
  font-size: 18px;
}

.cover {
  margin: 1px 0;
  border-top: #000 2px solid;
  border-bottom: #000 2px solid;
  background-size: cover;
  height: 100%;
  font-size: 0;
  min-height: 371px;
  aspect-ratio: 1 / 1;
}

.free {
  background-image: url("../svg/image.png");
  filter: blur(0.1rem);
}

.sprint1-1 {
  background-image: url("../svg/4.jpg");
  filter: saturate(30%);
}

.sprint1-2 {
  background-image: url("../svg/9.jpg");
  filter: brightness(150%);
}

.sprint2-1 {
  background-image: url("../svg/12.jpg");
  filter: contrast(200%);
}

.sprint2-2 {
  background-image: url("../svg/16.jpg");
  filter: hue-rotate(-45deg);
}

.sprint3-1 {
  background-image: url("../svg/10.jpg");
  filter: invert(0.8);
}

.sprint3-2 {
  background-image: url("../svg/14.jpg");
  filter: sepia(30%);
}

.now {
  background-image: url("../svg/8.jpg");
  filter: brightness(150%) contrast(50%);
}

.tag-wrapper {
  position: relative;
  mix-blend-mode: hard-light;
  z-index: 1;
}

.tag {
  font-size: 14px;
  position: absolute;
  color: #000;
  -webkit-text-stroke: #fff 0.5px;
  margin: 25px;
  right: 0;
  filter: none;
}

@media (width <= 375px) {
  .tag {
    margin: 23px 11px;
  }
}

.paragraf {
  margin: 25px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 118%;
}

.buttons {
  display: flex;
  justify-content: right;
  padding: 0 25px 25px 0;
  gap: 8px;
  align-items: center;
}

.card__like-button {
  width: 130px;
  background-color: transparent;
  padding: 7px 17px;
}

.button__text {
  font-size: 14px;
  line-height: 90%;
  text-align: center;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 0;
}

.card__icon-button svg {
  width: 36px;
  margin-right: 12px;
}

.button {
	display: inline-block;
	overflow: hidden;
  border: var(--themes-mainColor) 2px solid;
  transition: box-shadow 0.5s ease,
              background-color 0.5s ease-in-out,
              color 0.5s ease-in-out;
  transform: perspective(1px) translateZ(0);
}

.button::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: -1px;
}

.button::before {
	background: var(--themes-mainColor);
	clip-path: inset(0 100% 0 0);
	opacity: 1;
	transition: 0.4s;
}

.button:hover::before {
	clip-path: inset(0 0 0 0);
}

.button:hover {
	color: white;
}

.button svg {
  transition: filter 0.4s;
}

.button:hover svg {
  filter: invert();
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--themes-mainColor);
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  border: 2px solid var(--themes-mainColor);;
}

.like-icon {
  border: none;
  height: 36px;
}

.main-body, .core {
  fill: transparent;
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s 0.05s;
}

.main-body {
  transition: fill 0.3s;
}

.card__icon-button:hover .core {
  fill: var(--themes-mainColor);
  transition: fill 0.3s 0.03s ;
}

.card__icon-button:hover .main-body {
  fill: var(--themes-mainColor);
  transition: fill 0.3s;
}

.card__icon-button:active .core {
  fill: var(--heart-body);
  transition: fill 0.3s 0.03s ;
}

.card__icon-button:active .main-body {
  fill: var(--heart-body);
  transition: fill 0.3s;
}

.is-liked .core {
  animation: anim-core 0.3s 0.06s ease-in forwards;
}

.is-liked .main-body {
  animation: anim-core 0.3s 0.26s ease-in forwards;
}

@keyframes anim-core {
  to {
      fill: var(--heart-body);
  }
}

.is-liked .countur {
  animation: anim-body 0.3s 0.56s ease-in forwards;
}

@keyframes anim-body {
  0% {
      fill: var(--heart-body);
  }
  70% {
    fill: var(--heart-body);
  }
  100% {
    fill: var(--themes-mainColor);
  }
}

.is-liked .heart {
  animation: anim-heart 0.3s 0.56s ease-in forwards;
}

@keyframes anim-heart {
  0% {
    scale: 1;
  }
  40% {
    translate: -10% -10%;
    scale: 1.25;
  }
  100% {
    scale: 1;
  }
}

.is-liked .sparks {
  animation: anim-sparks 0.3s 0.56s ease-in forwards;
}

@keyframes anim-sparks {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.save {
  margin-top: 50px;
  font-size: 14px;
  padding: 15px 20px;
  min-width: 306px;
}

.save svg {
  width: 21px; 
  margin-right: 8px;
}

@media (width<=375px) {
  .save {
    width: 306px;
  }

  .save .button__text {
    text-wrap: nowrap;
  }

  .save svg {
    margin-bottom: 8px;
  }
}

footer {
  width: clamp(371px, 48.6%, 700px);
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 105px;
}

@media (width <= 375px) {
  footer {
    margin-bottom: 102px;
  }
}

#dialog-save {
  background-color: #fff;
  max-width: 357px;
  padding: 31px 32px;
}

.dialog-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog-wrapper h3 {
  font-size: 14px;
  line-height: 150%
}

#dialog-save[open]::backdrop {
  backdrop-filter: brightness(25%);
}

#dialog-save svg {
  font-size: 0;
  width: 81px;
}

#dialog-save .button {
  margin-top: 30px;
  padding: 9px 132px;
}

body:has(#dialog-save[open]) {
  overflow: hidden;
}